<div class="card">
    <div class="card__side card__side--front">
`       <div class="card__img">
            <img class="img" [src]="imgUrl"/>
        </div>
        <div class="card__content">
            <div class="heading">
                <p class="heading__pri">{{ title }}</p>
                <p class="heading__sec">{{ subtitle }}</p>
            </div>
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>

    <div class="card__side card__side--back">
        <button class="btn">Check now !</button>
    </div>
</div>